#forecastDays {
    flex-direction: column;
    float: right;
    background-color: lightblue;
    padding: 5px;
    border-radius: 15px;
    margin-right: 5px;
    color: white;
    font-family: cursive;
}